venv/
data/venv/
__pycache__/
*.pyc
.env
data/train_transaction.csv
data/train_identity.csv
model/fraud_model.joblib
model/feature_names.joblib
model/threshold.joblib
data/features_offline.parquet
data/test_transaction.csv
data/test_identity.csv
data/sample_submission.csv